<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584421254148-1mhoq3a4qobeon9oqp42facst8a5esee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584421254148-1mhoq3a4qobeon9oqp42facst8a5esee</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584421254148-s0v69m8oqdj00rac1gijjrbql7lge5uu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg8jEweEEMRGnyaQdcryf8e5tBXs2lTz0</string>
	<key>GCM_SENDER_ID</key>
	<string>584421254148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myrekod.myrekod</string>
	<key>PROJECT_ID</key>
	<string>myrekod-finhealth</string>
	<key>STORAGE_BUCKET</key>
	<string>myrekod-finhealth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584421254148:ios:469436f88ea448f20b4151</string>
</dict>
</plist>